@page
@model VisaApplicationUI.Pages.MainPageModel
@{
	ViewData["Title"] = "Main Page";
}


<div class="container">
	<div class="row">
		<div class="col-50">
			<a href="https://localhost:7014/ViewVisaTypes"><button class="button"><span>View Visa Types </span></button></a>
		</div>
		<div class="col-50">
			<a href="https://localhost:7014/ViewApplicantPersonalInformation"><button class="button"><span>View or Update personal Info </span></button></a>
		</div>

	</div>
	<div class="row">
		<div class="col-50">
			<a href="https://localhost:7014/"><button class="button"><span>Submit Visa Application </span></button></a>
		</div>
		<div class="col-50">
			<a href="https://localhost:7014/"><button class="button"><span>Check Visa Application Status </span></button></a>
		</div>

	</div>
</div>
